Требования
Проект: «истина» (true)
Результат: 
      Каждый по ключевым словам «утвердилось», «Царствие» и «Небесное» получает через интернет в доступной форме всю информацию о Царствии Небесном на Земле. 
Дополнительно: 
	 
