Требования
Проект: «истина» (true)
Результат: 
      Каждый по ключевым словам «утвердилось», «Царствие» и «Небесное» получает через интернет в доступной форме всю информацию о Царствии Небесном на Земле. 
Дополнительно: 
	 Это Web-приложение, информационного характера с различными сервисами, без коммерческого содержания адаптированное под различные устройства ввода/выводы. Содержания доступно независимо от возраста для людей от 5-ти до самой старости. Приложение сделано в соответствии с самыми передовыми технологическими и дизайнерскими решениями без уменьшения удобства использования. 
